
<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="style1.css">
<title>ストップウォッチ</title>
<meta name="title" content="ストップウォッチ" />
<meta name="keywords" content="ストップウォッチ,Web" />
<meta name="description" content="Webでストップウォッチを表示するサイトです。ストップウォッチはブラウザを閉じても動作します。" />
<meta name="theme-color" content="#38c" />
<meta name="referrer" content="origin" />
<link rel="start" href="https://stopwatch.onl.jp/" title="ストップウォッチ" />
<link rel="alternate" hreflang="ja" href="https://stopwatch.onl.jp/" />
<link rel="alternate" hreflang="en" href="https://onl.la/" />
<link rel="canonical" href="https://stopwatch.onl.jp/" />
<link rel="icon"  href="https://stopwatch.onl.jp/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="https://stopwatch.onl.jp/apple-touch-icon.png" />
<link rel="image_src" href="https://stopwatch.onl.jp/apple-touch-icon.png" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />

<link rel="stylesheet" type="text/css" href="https://stopwatch.onl.jp/app.css?v=20210430232754" />
<meta name="application-name" content="ストップウォッチ" />
<meta name="msapplication-square150x150logo" content="https://stopwatch.onl.jp/ogp.jpg" />
<meta name="msapplication-TileColor" content="#38c" />
<meta property="og:type" content="website" />
<meta property="og:title" content="ストップウォッチ" />
<meta property="og:description" content="Webでストップウォッチを表示するサイトです。ストップウォッチはブラウザを閉じても動作します。" />
<meta property="og:url" content="https://stopwatch.onl.jp/" />
<meta property="og:site_name" content="ストップウォッチ" />
<meta property="og:image" content="https://stopwatch.onl.jp/ogp.jpg" />
<meta property="og:locale" content="ja_JP" />
<meta itemprop="name" content="ストップウォッチ" />
<meta itemprop="description" content="Webでストップウォッチを表示するサイトです。ストップウォッチはブラウザを閉じても動作します。" />
<meta itemprop="image" content="https://stopwatch.onl.jp/ogp.jpg" />
<meta name="msvalidate.01" content="A415C6F6F0DA8DE19B77D613F05973EB" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82400861-9"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-82400861-9');
</script>

</head>
<body role="document" itemscope itemtype="http://schema.org/WebPage">
<div id="page" class="page" data-role="page" data-title="ストップウォッチ">
	<div id="header" class="header" data-role="header" data-position="fixed" data-fullscreen="true" data-id="header" itemscope itemtype="http://schema.org/WPHeader">
		
		<h1>ストップウォッチ</h1>
	</div>
	<div id="main" role="main" class="main ui-content">
		
<div class="content">
	
    <p id="timertext"></p>
    <div class="ui-grid-b ui-btn-area">
		<div class="ui-block-a"><a href="#" class="ui-btn ui-icon-clock   ui-btn-icon-top" id="swStart">スタート</a></div>
		<div class="ui-block-b"><a href="#" class="ui-btn ui-icon-edit    ui-btn-icon-top" id="swLap">ラップ</a></div>
		<div class="ui-block-c"><a href="#" class="ui-btn ui-icon-refresh ui-btn-icon-top" id="swClear">クリア</a></div>
	</div>

    <div class="lapalist">
        <table data-role="table" data-mode="columntoggle" data-column-btn-text="選択" class="ui-body-a ui-shadow table-stripe ui-responsive">
<thead><tr>
<th data-priority="1">ラップ</th>
                <th data-priority="1">ラップ時間</th>
                <th data-priority="1">合計時間</th>
            </tr></thead>
<tbody id="result"></tbody>
</table>
</div>
        
</div>

	</div>
	<div id="footer" class="footer" data-role="footer" data-position="fixed" data-fullscreen="true" data-id="footer" itemscope itemtype="http://schema.org/WPFooter">
		
		<div class="ads">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle"     style="display:inline-block;width:100%;height:60px;"     data-ad-client="ca-pub-2752181111354421"     data-ad-slot="6930815331"></ins><script>window.onload=function(){(adsbygoogle = window.adsbygoogle || []).push({});}</script>

		</div>
	</div>
</div>

</div>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script defer src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

<script defer type="text/javascript" src="https://stopwatch.onl.jp/app.js?v=20210430232754"></script>

</body>
</html>


