
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
	<link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
	<link rel="dns-prefetch" href="//googleads4.g.doubleclick.net">
	<link rel="dns-prefetch" href="//tpc.googlesyndication.com">
	<link rel="dns-prefetch" href="//www.gstatic.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>ストップウォッチ</title>
	<meta name="title" content="ストップウォッチ" />
	<meta name="keywords" content="ストップウォッチ,Web" />
	<meta name="description" content="Webでストップウォッチを表示するサイトです。ストップウォッチはブラウザを閉じても動作します。" />
	<meta name="theme-color" content="#38c" />
	<meta name="referrer" content="origin" />
	<link rel="start" href="https://stopwatch.onl.jp/" title="ストップウォッチ" />
	<link rel="alternate" hreflang="ja" href="https://stopwatch.onl.jp/" />
	<link rel="alternate" hreflang="en" href="https://onl.la/" />
	<link rel="canonical" href="https://stopwatch.onl.jp/" />
	<link rel="icon"  href="https://stopwatch.onl.jp/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="https://stopwatch.onl.jp/apple-touch-icon.png" />
	<link rel="image_src" href="https://stopwatch.onl.jp/apple-touch-icon.png" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />

	<link rel="stylesheet" type="text/css" href="https://stopwatch.onl.jp/app.css?v=20210430232754" />
	<meta name="application-name" content="ストップウォッチ" />
	<meta name="msapplication-square150x150logo" content="https://stopwatch.onl.jp/ogp.jpg" />
	<meta name="msapplication-TileColor" content="#38c" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="ストップウォッチ" />
	<meta property="og:description" content="Webでストップウォッチを表示するサイトです。ストップウォッチはブラウザを閉じても動作します。" />
	<meta property="og:url" content="https://stopwatch.onl.jp/" />
	<meta property="og:site_name" content="ストップウォッチ" />
	<meta property="og:image" content="https://stopwatch.onl.jp/ogp.jpg" />
	<meta property="og:locale" content="ja_JP" />
	<meta itemprop="name" content="ストップウォッチ" />
	<meta itemprop="description" content="Webでストップウォッチを表示するサイトです。ストップウォッチはブラウザを閉じても動作します。" />
	<meta itemprop="image" content="https://stopwatch.onl.jp/ogp.jpg" />
<meta name="msvalidate.01" content="A415C6F6F0DA8DE19B77D613F05973EB" />

<script type="application/ld+json">
{"@context":"http://schema.org","@type":"Itemlist","itemListElement":[
{"@type":"SiteNavigationElement","url":"https://watch.onl.jp/","name":"アナログ時計","description": "Webでアナログ時計を表示するサイトです。テレビやスマートフォンにアナログ時計を表示できます。","position": "1" }
,{"@type":"SiteNavigationElement","url":"https://timer.onl.jp/","name":"タイマー","description": "Webでタイマーを表示するサイトです。タイマーはブラウザを閉じても動作します。","position": "2" }
,{"@type":"SiteNavigationElement","url":"https://digital.onl.jp/","name":"デジタル時計","description": "Webでデジタル時計を表示するサイトです。テレビやスマートフォンにデジタル時計を表示できます。","position": "3" }
]}
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82400861-9"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-82400861-9');
</script>

</head>
<body role="document" itemscope itemtype="http://schema.org/WebPage">
<div id="page" class="page" data-role="page" data-title="ストップウォッチ">
	<div id="header" class="header" data-role="header" data-position="fixed" data-fullscreen="true" data-id="header" itemscope itemtype="http://schema.org/WPHeader">
		
		<h1>ストップウォッチ</h1>
		<%# <a href="#panel" class="menuicon ui-btn-right ui-link ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow" title="オンラインツール">オンラインツール</a> %>

	</div>
	<div id="main" role="main" class="main ui-content">
		
<div class="content">
	
    <p id="timertext"></p>
    <div class="ui-grid-b ui-btn-area">
		<div class="ui-block-a"><a href="#" class="ui-btn ui-icon-clock   ui-btn-icon-top" id="swStart">スタート</a></div>
		<div class="ui-block-b"><a href="#" class="ui-btn ui-icon-edit    ui-btn-icon-top" id="swLap">ラップ</a></div>
		<div class="ui-block-c"><a href="#" class="ui-btn ui-icon-refresh ui-btn-icon-top" id="swClear">クリア</a></div>
	</div>

    <div class="lapalist">
        <table data-role="table" data-mode="columntoggle" data-column-btn-text="選択" class="ui-body-a ui-shadow table-stripe ui-responsive">
<thead><tr>
<th data-priority="1">ラップ</th>
                <th data-priority="1">ラップ時間</th>
                <th data-priority="1">合計時間</th>
            </tr></thead>
<tbody id="result"></tbody>
</table>
</div>
        
</div>

	</div>
	<div id="footer" class="footer" data-role="footer" data-position="fixed" data-fullscreen="true" data-id="footer" itemscope itemtype="http://schema.org/WPFooter">
		
		<div class="ads">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle"     style="display:inline-block;width:100%;height:60px;"     data-ad-client="ca-pub-2752181111354421"     data-ad-slot="6930815331"></ins><script>window.onload=function(){(adsbygoogle = window.adsbygoogle || []).push({});}</script>

		</div>
	</div>
	<div data-role="panel" id="panel" class="ui-sitemenu" data-position="right" data-display="overlay" data-theme="a">
<%# <a href="#" class="ui-siteinfo" data-theme="a" data-mini="true" data-role="button" data-icon="info" data-inline="true">サイト概要</a> %>
<a href="#" class="s_full"      data-theme="a" data-mini="true" data-role="button" data-icon="action" data-inline="true">全画面</a>
<hr class="ui-separator-menu" /><a href="https://watch.onl.jp/" data-role="button" data-icon="grid" data-mini="true" data-inline="false">アナログ時計</a>
<a href="https://timer.onl.jp/" data-role="button" data-icon="grid" data-mini="true" data-inline="false">タイマー</a>
<a href="https://digital.onl.jp/" data-role="button" data-icon="grid" data-mini="true" data-inline="false">デジタル時計</a>
<%# <hr class="ui-separator-opt" /><label for="uidarkmode" class="ui-darkmode">ダークモード</label><input type="checkbox" name="uidarkmode" id="uidarkmode" data-mini="true" /><a href="https://onl.jp/" data-mini="true" data-theme="a" data-role="button" data-icon="home" data-inline="false">オンラインツール</a><a href="#" data-mini="true" class="ui-opinion" data-theme="a" data-role="button" data-icon="comment" data-inline="false">ご意見コメント</a><hr class="ui-separator-ads" /> %>



<div class="menuads">

<%# <script language="javascript" src="//ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3570072&pid=886941020"></script><noscript><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3570072&pid=886941020" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3570072&pid=886941020" border="0"></a></noscript> %>

<hr class="ui-separator-ads" />
<%# <a href="https://inunohimitsu.com/"><img border="0" width="234" height="60" alt="もふもふサイト" src="/link.jpg"></a> %>


</div>






</div>

</div>




<video style="position:fixed;top:0;left:0;height:0;" muted autoplay loop><source src="dummy.mp4"></source></video>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script defer src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

<script defer type="text/javascript" src="https://stopwatch.onl.jp/app.js?v=20210430232754"></script>

</body>
</html>


